/* Shared styles */

body{
    margin: 30px 192px;
    font-family: "Fira Sans", sans-serif;
}
.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.primary-bg{
    background-color: #C6E4D6;
}

/* Header style */
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.header-div > p{
    font-size: 38px;
    margin: 0;
}
.header-div > button{
    color: #006A50;
    width: 140px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #006A50;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}

/* Hero section style*/
.Hero-section{
    max-width: 1540px;
    height: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 80px 64px;
    margin-bottom: 96px;
}
.hero-info-div > h3{
    font-size: 28px;
    color: #6A7972;
    margin: 0;
    margin-bottom: 19px;
}
.hero-info-div > h1{
    font-size: 66px;
    max-width: 745px;
    margin: 0;
}
.hero-info-div > button{
    font-family: "Fira Sans", sans-serif;
    width: 324px;
    color: rgba(255, 255, 255, 0.943);
    background-color: #006A50;
    border: none;
    height: 67px;
    font-size: 21px;
    border-radius: 8px;
    margin-top: 28px;
}
.hero-img-div{
    width: 568px;
}
.hero-img-div > img{
    width: 100%;    
}