/* Shared styles */

body{
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    background-color: #F1F1F3;
}
main , header{
    margin: 30px 192px;
}
.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.primary-bg{
    background-color: #C6E4D6;
}
.Heading{
    font-size: 48px;   
    margin: 0; 
}

/* Header style */
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.header-div > p{
    font-size: 38px;
    margin: 0;
}
.header-div > button{
    color: #006A50;
    width: 140px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #006A50;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}

/* Hero section style*/
.Hero-section{
    max-width: 1540px;
    height: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 80px 64px;
    margin-bottom: 96px;
}
.hero-info-div > h3{
    font-size: 28px;
    color: #6A7972;
    margin: 0;
    margin-bottom: 19px;
}
.hero-info-div > h1{
    font-size: 66px;
    max-width: 745px;
    margin: 0;
}
.hero-info-div > button{
    font-family: "Fira Sans", sans-serif;
    width: 324px;
    color: rgba(255, 255, 255, 0.943);
    background-color: #006A50;
    border: none;
    height: 67px;
    font-size: 21px;
    border-radius: 8px;
    margin-top: 28px;
}
.hero-img-div{
    width: 568px;
}
.hero-img-div > img{
    width: 100%;    
}

/* Pillars-section style */
.Pillars-section{
    margin-bottom: 96px;
}
.pillars-div{
    display: flex;
    gap: 28px;
}
.pillar-div{
    background-color: #FFFFFF;
    width: 360px;
    box-shadow:5px 5px 10px rgba(128, 128, 128, 0.251);
    padding: 28px;  
    border-radius: 16px;
    margin-top: 38px;
}
.pillar-div > h4{
    font-size: 24px;
    margin: 0;
}
.pillar-div > p{
    font-size: 19px;
    margin-top: 16px;

}
.pillar-div > img{
    margin-bottom: 28px;
}

/* Vision-section style */
.Vision-section{
    margin-bottom: 96px;
}
.Vision-section > p{
    font-size: 19px;
    margin-top: 28px;
    margin-bottom: 38px;
}
.visions-div{
    display: flex;  
    justify-content: space-between; 
    gap: 28px;
    margin-bottom: 38px;
}
.vision1-div{
    width: 490px;
    background-color: #5490F533;
    padding: 38px;
    border-radius: 16px;
}
.vision2-div{
    width: 490px;
    background-color: #09A15C33;
    padding: 38px;
    border-radius: 16px;
}
.vision3-div{
    width: 490px;
    background-color: #FFC23933;    
    padding: 38px;
    border-radius: 16px;
}
.vision1-div > h4,
.vision2-div > h4,
.vision3-div > h4{
    font-size: 24px;
    margin-top: 28px;
    margin-bottom: 14px;
}
.vision1-div > p,
.vision2-div > p,
.vision3-div > p{
    font-size: 19px;
    margin: 0; 
}
.Learn-btn1{
    font-size: 19px;
    font-family: "Fira Sans", sans-serif;
    margin-top: 32px;
    background-color: #5490F5;
    color: #FFFFFF;
    border: none;
    padding: 13px 24px;
    border-radius: 9px;
    cursor: pointer;
}
.Learn-btn2{
    font-size: 19px;
    font-family: "Fira Sans", sans-serif;
    margin-top: 57px;
    background-color: #09A15C;
    color: #FFFFFF;
    border: none;
    padding: 13px 24px;
    border-radius: 9px;
    cursor: pointer;
}
.Learn-btn3{
    font-size: 19px;
    font-family: "Fira Sans", sans-serif;
    margin-top: 32px;
    background-color: #FFC239;
    color: #FFFFFF;
    border: none;
    padding: 13px 24px;
    border-radius: 9px;
    cursor: pointer;
}

.qoute-div{
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.251);
    padding: 57px 28px;
    border-radius: 16px;    
    background-color: #FFFFFF;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position-x: 28px;
    background-position-y: 30px;
}
.qoute-div > .qoute-info{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.63);
    margin: 0;
    margin-bottom: 14px;
}
.qoute-div > h3{
    font-size: 24px;
    margin: 0;
    margin-bottom: 6px;
}
.qoute-div > .qoute-role{
    font-size: 19px;
    margin: 0;
    color: rgba(0, 0, 0, 0.445);
}

/* Opinion-section style */
.Opinion-section{
    margin-bottom: 90px;
}

.question-div{
    background-color: #FFFFFF;
    padding: 38px;
    margin-top: 28px;
    border-radius: 16px;
}
.question-heading{
    background-color: #C6E4D6;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    font-weight: 600;
    padding: 28px;
    border: 1px solid #0202023e;
}
.question-heading > p{
    margin: 0;    
}
.question{
    border: 1px solid #0202023e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}
.question > p{
    margin: 0;
    color: #0E0E0E;
    padding-left: 28px;
}
.question > div{
    border-left: 1px solid #000; height: 110px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question > div > button{
    font-size: 19px;
    font-family: "Fira Sans", sans-serif;
    width: 182px;
    height: 52px;
    background-color: #C6E4D6;
    border-radius: 6px;
}

/* News-section style */

.News-section{
    margin-bottom: 90px;
}
.news-container{
    display: flex;
    background-color: #FFFFFF;
    gap: 38px;
    padding: 56px;
    border-radius: 16px;
    margin-top: 38px;
    margin-bottom: 28px;
}
.news-img-div{
    border-radius: 28px;
}
.news-img-div > img{
    border-radius: 24px;
}

.news-info-div > h3{
    font-size: 38px;
    margin: 0;
    margin-bottom: 14px;
}
.news-info-div > .date{
    font-size: 19px;
    margin: 0;
    margin-top: 14px;
}
.news-info-div > .date > span{
    margin-left: 14px;
}
.news-info{
    font-size: 19px;
    line-height: 24px;
}
.news-info-div > button{
    background-color: #006A50;
    color: #FFFFFF;
    font-family: "Fira Sans", sans-serif;
    font-size: 19px;
    padding: 13px 26px;
    border: none;
    border-radius: 8px; 
}

.news-container1{
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFFFFF;
    gap: 38px;
    padding: 56px;
    border-radius: 16px;
    margin-top: 38px;
    margin-bottom: 28px;
}
.news-container2{
    display: flex;
    background-color: #FFFFFF;
    gap: 38px;
    padding: 56px;
    border-radius: 16px;
    margin-top: 38px;
}

/* Donate-section style */
.Donate-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 90px;
}
.Donate-section >p{
    width: 1200px;
    font-size: 19px;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 38px;
}
.amount{
    display: flex;
    gap: 28px;
    margin-bottom: 38px;
}
.amount >.amount-200{
    background-color: #C6E4D6;
}
.amount > p{
    font-size: 40px;
    font-weight: 700;
    background-color: #FFFFFF;
    padding: 48px;
    border-radius: 16px;
    cursor: pointer;
    margin: 0;
}

.amount > p:hover{
    font-size: 40px;
    font-weight: 700;
    background-color: #C6E4D6;
    padding: 48px;
    border-radius: 16px;
}
.Donate-section > input{
    width: 1100px;
    text-align: center;
    padding: 20px 0;
    border: none;
    color: #0e0e0eb3;
    font-family: "Fira Sans", sans-serif;
    font-size: 19px;
    margin-bottom: 38px;
}
    
.Donate-section > input::placeholder{
    color: #0e0e0eb3;
    font-family: "Fira Sans", sans-serif;
    font-size: 19px;
}
.Donate-section > button{
    background-color: #006A50;
    color: #FFFFFF;
    font-family: "Fira Sans", sans-serif;
    font-size: 19px;
    border: none;
    padding: 17px 34px;
    border-radius: 8px;
}
/* Newsletter-section style */

.Newsletter-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C6E4D6;
    padding: 90px 300px;
    margin-bottom: 90px;
    border-radius: 20px;
}
.Newsletter-section > P{
    font-size: 19px;
    max-width: 746px;
    text-align: center;
}
.Newsletter-section > div{
    width: 900px;
    text-align: center;
}
#email{
    width: 700px;
    padding: 18px;
    font-size: 19px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #FFFFFF;
    border: none;
}
#email::placeholder{
    font-size: 19px;
}
#subscribe{
    width: 160px;
    padding: 17px;
    font-size: 21px;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

footer{
    background-color: #FFFFFF;
    padding: 50px 0;
}
footer > h3{
    font-size: 38px;
    text-align: center;
}
footer>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-top: 38px;
}
.facebook{
    width: 28px;
}
hr{
    width: 1200px;
}